<template>
  <v-row>
    <v-col cols="12" md="3">
      <v-card class="mx-auto">
        <v-toolbar dark color="blue-grey">
          <v-toolbar-title>{{ $t('settings') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-list dense nav>
            <v-list-item
              v-for="tab in tabs" :key="tab.route"
              :to="{ name: tab.route }"
            >
              <v-list-item-icon>
                <v-icon left v-text="tab.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="tab.name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" md="9">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    middleware: 'auth',

    computed: {
      tabs() {
        return [
          {
            icon: 'mdi-account',
            name: this.$t('profile'),
            route: 'settings.profile'
          },
          {
            icon: 'mdi-lock',
            name: this.$t('password'),
            route: 'settings.password'
          }
        ]
      }
    }
  }
</script>

<style>

</style>
