<template>
  <v-card class="mx-auto">
    <v-toolbar dark color="primary">
      <v-toolbar-title>{{ $t('your_password') }}</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <form @submit.prevent="update" @keydown="form.onKeydown($event)">
        <alert-success :form="form" :message="$t('password_updated')" />

        <!-- Password -->
        <v-text-field :label="$t('new_password')" name="password" type="password" v-model="form.password" :error="form.errors.has('password')" :error-messages="form.errors.get('password')"/>


        <!-- Password Confirmation -->
        <v-text-field :label="$t('confirm_password')" name="password_confirmation" type="password" v-model="form.password_confirmation" :error="form.errors.has('password_confirmation')" :error-messages="form.errors.get('password_confirmation')"/>

        <!-- Submit Button -->
        <v-btn color="success" :loading="form.busy" type="submit"> {{ $t('update') }}</v-btn>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
import Form from 'vform'

export default {
  scrollToTop: false,

  head () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async update () {
      await this.form.patch('/settings/password')

      this.form.reset()
    }
  }
}
</script>
