<template>
  <v-card class="mx-auto">
    <v-toolbar dark color="primary">
      <v-toolbar-title>{{ $t('your_info') }}</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <form @submit.prevent="update" @keydown="form.onKeydown($event)">
        <alert-success :form="form" :message="$t('info_updated')"/>

        <!-- Name -->
        <v-text-field :label="$t('name')" name="name" v-model="form.name" :error="form.errors.has('name')" :error-messages="form.errors.get('name')"/>

        <!-- Email -->
        <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email" :error="form.errors.has('email')" :error-messages="form.errors.get('email')"/>

        <!-- Submit Button -->
        <v-btn color="success" :loading="form.busy" type="submit"> {{ $t('update') }}</v-btn>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
  import Form from 'vform'

  import {mapGetters} from 'vuex'

  export default {
    scrollToTop: false,

    head() {
      return {title: this.$t('settings')}
    },

    data: () => ({
      form: new Form({
        name: '',
        email: ''
      })
    }),

    computed: mapGetters({
      user: 'auth/user'
    }),

    created() {
      // Fill the form with user data.
      this.form.keys().forEach((key) => {
        this.form[key] = this.user[key]
      })
    },

    methods: {
      async update() {
        const {data} = await this.form.patch('/settings/profile')

        this.$store.dispatch('auth/updateUser', {user: data})
      }
    }
  }
</script>
