<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('reset_password') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="send" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="status" />

            <!-- Email -->
            <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email"
                          :error="form.errors.has('email')" :error-messages="form.errors.get('email')"/>

            <!-- Submit Button -->
            <v-btn color="primary" :loading="form.busy" type="submit"> {{ $t('send_password_reset_link') }}</v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Form from 'vform'

export default {
  head () {
    return { title: this.$t('reset_password') }
  },

  data: () => ({
    status: '',
    form: new Form({
      email: ''
    })
  }),

  methods: {
    async send () {
      const { data } = await this.form.post('/password/email')

      this.status = data.status

      this.form.reset()
    }
  }
}
</script>
