<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('reset_password') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="reset" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="status" />

            <!-- Email -->
            <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email"
                          :error="form.errors.has('email')" :error-messages="form.errors.get('email')" readonly/>

            <!-- Password -->
            <v-text-field :label="$t('password')" name="password" type="password" v-model="form.password"
                          :error="form.errors.has('password')" :error-messages="form.errors.get('password')"/>

            <!-- Password Confirmation -->
            <v-text-field :label="$t('confirm_password')" name="password_confirmation" type="password"
                          v-model="form.password_confirmation" :error="form.errors.has('password_confirmation')"
                          :error-messages="form.errors.get('password_confirmation')"/>

            <!-- Submit Button -->
            <v-btn color="success" :loading="form.busy" type="submit"> {{ $t('reset_password') }}</v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Form from 'vform'

export default {
  head () {
    return { title: this.$t('reset_password') }
  },

  data: () => ({
    status: '',
    form: new Form({
      token: '',
      email: '',
      password: '',
      password_confirmation: ''
    })
  }),

  created () {
    this.form.email = this.$route.query.email
    this.form.token = this.$route.params.token
  },

  methods: {
    async reset () {
      const { data } = await this.form.post('/password/reset')

      this.status = data.status

      this.form.reset()
    }
  }
}
</script>
