<template>
  <v-card class="mx-auto">
    <v-card-title class="headline mb-1"> {{ $t('home') }}</v-card-title>
    <v-card-text>
      {{ $t('you_are_logged_in') }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>
