<template>
  <v-container
    class="fill-height"
    fluid
  >
    <div class="top-right links">
      <template v-if="authenticated">
        <router-link :to="{ name: 'home' }">
          {{ $t('home') }}
        </router-link>
      </template>
      <template v-else>
        <v-btn :to="{ name: 'login' }">
          <span class="text-capitalize">{{ $t('login') }}</span>
        </v-btn>
        <v-btn :to="{ name: 'register' }">
          <span class="text-capitalize">{{ $t('register') }}</span>
        </v-btn>
      </template>
    </div>
    <v-row
      align="center"
      justify="center"
    >
        <div class="text-center">
          <div class="display-4 mb-4">
            <span class="laravel">Laravel</span><span class="nuxt">Nuxt</span>
            <!-- {{ title }} -->
          </div>
          <a href="https://github.com/cretueusebiu/laravel-nuxt">github.com/cretueusebiu/laravel-nuxt</a>
        </div>
    </v-row>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    layout: 'simple',

    head() {
      return {title: this.$t('home')}
    },

    data: () => ({
      title: process.env.appName
    }),

    computed: mapGetters({
      authenticated: 'auth/check'
    })
  }
</script>

<style scoped>
  .top-right {
    position: absolute;
    right: 18px;
    top: 18px;
  }

  .laravel {
    color: #2e495e;
  }

  .nuxt {
    color: #00c48d;
  }
</style>
