<template>
  <v-alert type="error" v-model="form.errors.any()" dismissible>
    <slot>
      <div v-if="form.errors.has('error')" v-html="form.errors.get('error')"/>
      <div v-else v-html="message"/>
    </slot>
  </v-alert>
</template>

<script>
  import Alert from './Alert'
  export default {
    name: 'alert-error',
    extends: Alert,
    props: {
      message: {
        type: String,
        default: 'There were some problems with your input.'
      }
    }
  }
</script>
