<template>
  <v-alert type="success" v-model="form.successful" dismissible>
    <slot>
      <div v-html="message"/>
    </slot>
  </v-alert>
</template>

<script>
  import Alert from './Alert'
  export default {
    name: 'alert-success',
    extends: Alert,
    props: {
      message: { type: String, default: '' }
    }
  }
</script>
