<template>
  <v-alert type="error" v-model="form.errors.any()" dismissible>
    <div v-if="message" v-html="message"/>
    <ul>
      <li v-for="error in form.errors.flatten()" v-html="error"/>
    </ul>
  </v-alert>
</template>

<script>
  import Alert from './Alert'
  export default {
    name: 'alert-errors',
    extends: Alert,
    props: {
      message: {
        type: String,
        default: 'There were some problems with your input.'
      }
    }
  }
</script>
