<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('verify_email') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="send" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="status"/>

            <!-- Email -->
            <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email"
                          :error="form.errors.has('email')" :error-messages="form.errors.get('email')"/>

            <!-- Submit Button -->
            <v-btn color="primary" :loading="form.busy" type="submit"> {{ $t('send_verification_link') }}</v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import Form from 'vform'

  export default {
    middleware: 'guest',

    metaInfo() {
      return {title: this.$t('verify_email')}
    },

    data: () => ({
      status: '',
      form: new Form({
        email: ''
      })
    }),

    created() {
      if (this.$route.query.email) {
        this.form.email = this.$route.query.email
      }
    },

    methods: {
      async send() {
        const {data} = await this.form.post('/email/resend')

        this.status = data.status

        this.form.reset()
      }
    }
  }
</script>
