<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('verify_email') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <template v-if="success">
            <v-alert type="success">
              {{ status }}
            </v-alert>

            <v-btn color="primary" :to="{ name: 'login' }">
              {{ $t('login') }}
            </v-btn>
          </template>
          <template v-else>
            <v-alert type="error">
              {{ status || $t('failed_to_verify_email') }}
            </v-alert>

            <div class="d-flex justify-end">
              <router-link :to="{ name: 'verification.resend' }">
                {{ $t('resend_verification_link') }}
              </router-link>
            </div>
          </template>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import axios from 'axios'

  const qs = params => Object.keys(params).map(key => `${key}=${params[key]}`).join('&')

  export default {
    middleware: 'guest',

    metaInfo() {
      return {title: this.$t('verify_email')}
    },

    async asyncData({params, query}) {
      try {
        const {data} = await axios.post(`/email/verify/${params.id}?${qs(query)}`)

        return {success: true, status: data.status}
      } catch (e) {
        return {success: false, status: e.response.data.status}
      }
    }
  }
</script>
