<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('login') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="login" @keydown="form.onKeydown($event)">
            <!-- Email -->
            <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email"
                          :error="form.errors.has('email')" :error-messages="form.errors.get('email')"/>

            <!-- Password -->
            <v-text-field :label="$t('password')" name="password" type="password" v-model="form.password"
                          :error="form.errors.has('password')" :error-messages="form.errors.get('password')"/>

            <!-- Remember Me -->
            <div class="d-flex">
              <v-checkbox
                v-model="remember"
                :label="$t('remember_me')"
                name="remember"
              ></v-checkbox>

              <router-link :to="{ name: 'password.request' }" class="ml-auto ">
                {{ $t('forgot_password') }}
              </router-link>
            </div>

            <div class="d-flex">
              <v-btn color="primary" :loading="form.busy" type="submit"> {{ $t('login') }}</v-btn>

              <!-- GitHub Login Button -->
              <login-with-github/>
            </div>
          </form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import Form from 'vform'

  export default {
    head() {
      return {title: this.$t('login')}
    },

    data: () => ({
      form: new Form({
        email: '',
        password: ''
      }),
      remember: false
    }),

    methods: {
      async login() {
        let data

        // Submit the form.
        try {
          const response = await this.form.post('/login')
          data = response.data
        } catch (e) {
          return
        }

        // Save the token.
        this.$store.dispatch('auth/saveToken', {
          token: data.token,
          remember: this.remember
        })

        // Fetch the user.
        await this.$store.dispatch('auth/fetchUser')

        // Redirect home.
        this.$router.push({name: 'home'})
      }
    }
  }
</script>
