<template>
  <v-row justify="center">
    <v-col cols="12" lg="6">
      <v-card class="mx-auto" v-if="mustVerifyEmail">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('register') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-alert type="success">
            {{ $t('verify_email_address') }}
          </v-alert>
        </v-card-text>
      </v-card>

      <v-card class="mx-auto" v-else>
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{ $t('register') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="register" @keydown="form.onKeydown($event)">
            <!-- Name -->
            <v-text-field :label="$t('name')" name="name" v-model="form.name" :error="form.errors.has('name')"
                          :error-messages="form.errors.get('name')"/>

            <!-- Email -->
            <v-text-field :label="$t('email')" name="email" type="email" v-model="form.email"
                          :error="form.errors.has('email')" :error-messages="form.errors.get('email')"/>

            <!-- Password -->
            <v-text-field :label="$t('password')" name="password" type="password" v-model="form.password"
                          :error="form.errors.has('password')" :error-messages="form.errors.get('password')"/>

            <!-- Password Confirmation -->
            <v-text-field :label="$t('confirm_password')" name="password_confirmation" type="password"
                          v-model="form.password_confirmation" :error="form.errors.has('password_confirmation')"
                          :error-messages="form.errors.get('password_confirmation')"/>

            <div class="d-flex">
              <v-btn color="primary" :loading="form.busy" type="submit"> {{ $t('register') }}</v-btn>

              <!-- GitHub Login Button -->
              <login-with-github/>
            </div>
          </form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import Form from 'vform'

  export default {
    head() {
      return {title: this.$t('register')}
    },

    data: () => ({
      form: new Form({
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }),
      mustVerifyEmail: false
    }),

    methods: {
      async register() {
        // Register the user.
        const {data} = await this.form.post('/register')

        // Must verify email fist.
        if (data.status) {
          this.mustVerifyEmail = true
        } else {
          // Log in the user.
          const {data: {token}} = await this.form.post('/login')

          // Save the token.
          this.$store.dispatch('auth/saveToken', {token})

          // Update the user.
          await this.$store.dispatch('auth/updateUser', {user: data})

          // Redirect home.
          this.$router.push({name: 'home'})
        }
      }
    }
  }
</script>
