<template>
  <v-app>
    <v-container fill-height>
      <navdraw/>
      <navbar/>
      <v-layout justify-center>
        <v-content>
          <Nuxt/>
        </v-content>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
  import Navbar from '~/components/Navbar'
  import Navdraw from '~/components/Navdraw'

  export default {
    components: {
      Navbar,
      Navdraw,
    }
  }
</script>
