<template>
    <v-menu
      transition="slide-y-transition"
      offset-y
      bottom
    >
      <template v-slot:activator="{ on }">
        <v-btn
          text
          v-on="on"
        >
          <v-icon left>mdi-translate</v-icon>
          <span class="text-capitalize font-weight-light">{{ locales[locale] }}</span>
          <v-icon right>mdi-menu-down</v-icon>
        </v-btn>
      </template>
      <v-list dense nav>
        <v-list-item
          v-for="(value, key) in locales"
          :key="key"
          @click="setLocale(key)"
        >
          <v-list-item-title class="caption">{{ value }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import { loadMessages } from '~/plugins/i18n'

export default {
  computed: mapGetters({
    locale: 'lang/locale',
    locales: 'lang/locales'
  }),

  methods: {
    setLocale (locale) {
      if (this.$i18n.locale !== locale) {
        loadMessages(locale)

        this.$store.dispatch('lang/setLocale', { locale })
      }
    }
  }
}
</script>
