<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="blue darken-3"
    dark
  >
    <v-app-bar-nav-icon @click.stop="toggleDrawer()" />
    <v-toolbar-title
      style="width: 300px"
      class="ml-0 pl-4"
    >
      <router-link :to="{ name: user ? 'home' : 'welcome' }" class="hidden-sm-and-down white--text">
        {{ appName }}
      </router-link>
    </v-toolbar-title>
    <v-text-field
      flat
      solo-inverted
      hide-details
      prepend-inner-icon="mdi-magnify"
      label="Search"
      class="hidden-sm-and-down"
    />
    <v-spacer />
    <v-btn icon>
      <v-icon>mdi-apps</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>mdi-bell</v-icon>
    </v-btn>
    <user-dropdown />
    <locale-dropdown />
  </v-app-bar>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LocaleDropdown from './LocaleDropdown'
  import UserDropdown from './UserDropdown'

  export default {
    components: {
      LocaleDropdown,
      UserDropdown
    },
    computed: mapGetters({
      drawer: 'drawer/drawer',
      user: 'auth/user'
    }),
    data: () => ({
      dialog: false,
      appName: process.env.appName
    }),
    methods: {
      toggleDrawer () {
        this.$store.dispatch('drawer/toggleDrawer')
      },
    }
  }
</script>

<style scoped lang="scss">
  .v-toolbar__title {
    a {
      text-decoration: none;
    }
  }
</style>
