<template>
  <div>
    <!-- Authenticated -->
    <template v-if="user">
      <v-menu
        transition="slide-y-transition"
        offset-y
        bottom
      >
        <template v-slot:activator="{ on }">
          <v-btn
            text
            v-on="on"
          >
            <v-avatar
              size="32px"
              item
            >
              <v-img
                :src="user.photo_url"
                :alt="user.name"
              />
            </v-avatar>
            <span class="text-capitalize font-weight-light pl-2">{{ user.name }}</span>
          </v-btn>
        </template>
        <v-list dense nav>
          <v-list-item
            :to="{ name: 'settings.profile' }"
          >
            <v-list-item-icon>
              <v-icon left>mdi-settings-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="$t('settings')"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click="logout"
          >
            <v-list-item-icon>
              <v-icon left>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="$t('logout')"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <!-- Guest -->
    <template v-else>
      <v-btn
        text
        :to="{ name: 'login' }"
      >
        <span class="text-capitalize font-weight-light">{{ $t('login') }}</span>
      </v-btn>
      <v-btn
        text
        :to="{ name: 'register' }"
      >
        <span class="text-capitalize font-weight-light">{{ $t('register') }}</span>
      </v-btn>
    </template>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    computed: mapGetters({
      user: 'auth/user'
    }),
    data: () => ({}),
    methods: {
      async logout() {
        // Log out the user.
        await this.$store.dispatch('auth/logout')

        // Redirect to login.
        this.$router.push({name: 'login'})
      }
    }
  }
</script>

<style scoped>

</style>
